{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<form method="POST" action="" enctype="multipart/form-data">
		{{form.hidden_tag()}}
		<fieldset  class="form-group">
			<legend class="border-botton mb-4">{{ legend }}</legend>
			<div class="form-group">
				{{form.Name.label(class="form-control-label")}}
				{% if form.Name.errors %}
					{{form.Name(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.Name.errors %}
							 <span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.Name(class="form-control form-control-lg")}}
				{% endif %}
				
			</div>	
			<div class="form-group">
				{{form.Day.label(class="form-control-label")}}
				{% if form.Day.errors %}
					{{form.Day(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.Day.errors %}
							 <span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.Day(class="form-control form-control-lg")}}
				{% endif %}
			</div>
			<div class="form-group">
				{{form.Month.label(class="form-control-label")}}
				{% if form.Month.errors %}
					{{form.Month(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.Month.errors %}
							 <span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.Month(class="form-control form-control-lg")}}
				{% endif %}
			</div>
			
			<div class="form-group">
				{{form.Year.label(class="form-control-label")}}
				{% if form.Year.errors %}
					{{form.Year(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.Year.errors %}
							 <span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.Year(class="form-control form-control-lg")}}
				{% endif %}
			</div>	
			<div class="form-group">
				{{form.Bio.label(class="form-control-label")}}
				{% if form.Bio.errors %}
					{{form.Bio(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.Bio.errors %}
							 <span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form.Bio(class="form-control form-control-lg")}}
				{% endif %}</div>

				<br>

				<div class="form-group">
					{{form.Profilephoto.label(class="form-control-label")}}
					{% if warning %}
					<p class="form-control-label" style = 'color:brown' >{{ warning }}</p>
					{% endif %}
					{% if filename %}
						<p class="form-control-label">Uploaded file : {{filename }}</p>
						{% endif %}
					{% if form.Profilephoto.errors %}
						{{form.Profilephoto(class="form-control form-control-lg is-invalid",label = 'Upload File')}}
							<div class="invalid-feedback">
								{% for error in form.Profilephoto.errors %}
								 <span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
							{{form.Profilephoto(class="form-control form-control-lg")}}
							

					{% endif %}
				</div>


				
			</div>	
		</fieldset>	
	<div class="form-group">
		{{form.submit(class="btn btn-outline-info", value = 'Submit')}}
				
	</div>

				
	</form>
			

</div>
	

{% endblock content %}      