{% extends "layout.html" %}
{% block account%}
                <a class="nav-item nav-link" href="{{ url_for('profile',lawyer_id=current_user.id) }}">

                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
						<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
					  </svg>
                      
                   </a>
                {% endblock account%}

{% block content %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      	<h2><a class="mr-2" href="#">{{ case.name }}</a></h2>
	      <small class="text-muted">{{ case.day }}/{{ case.month }}/{{ case.year }}</small>
        </div>
        <p class="article-content">{{ case.bio }}</p>
       
        <p class="article-content">Download Case File &nbsp; <a class="mr-2" href='{{ case.case_file}}' target="_blank"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
		  </svg></a></p>
		  <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('case_update',case_id=case.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
	    
	    
	  </div>
	</article>
	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="deleteModalLabel">Delete Case?</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <form action="{{ url_for('delete_case',case_id=case.id)}}" method="POST">
				<input class="btn btn-danger" type="submit" value="Delete">
			  </form>
			</div>
		  </div>
		</div>
	  </div>

{% endblock content %}         
