{% extends "layout.html" %}

{% block content %}
	{% for case in user_cases %} 
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      	<h2><a class="mr-2" href="{{ url_for('case_display',case_id=case.id)}}">{{ case.name }}</a></h2>
	      <small class="text-muted">{{ case.day }}/{{ case.month }}/{{ case.year }}</small>
		</div>
		<p class="article-content">{{ case.bio }}</p>
		
		
	  </div>
	</article>
	{% endfor %} 
{% endblock content %}         

