{% extends "layout.html" %}

{% block account%}
                <a class="nav-item nav-link" href="{{ url_for('profile',lawyer_id=current_user.id) }}">

                    Update Profile
                    
                      
                   </a>
                {% endblock account%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='profile/css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='profile/css/responsive.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static',filename='profile/css/bootstrap.css')}}"> 
<link rel="stylesheet" href="{{url_for('static', filename='profile/vendors/linericon/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='profile/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='profile/vendors/owl-carousel/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='profile/vendors/lightbox/simpleLightbox.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='profile/vendors/nice-select/css/nice-select.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='profile/vendors/animate-css/animate.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='profile/vendors/popup/magnific-popup.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='profile/vendors/flaticon/flaticon.css')}}">  -->
{% endblock css %}
{% block content %}
        
        <!--================Header Menu Area =================-->
        <!-- <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620"> -->
						<!-- Brand and toggle get grouped for better mobile display -->
						<!-- <a class="navbar-brand logo_h" href="index.html"><img src="profile/img/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button> -->
						<!-- Collect the nav links, forms, and other content for toggling -->
						<!-- <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li> 
								<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header> -->
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								{% if lawyer.profile_photo %}
									<img src="{{ lawyer.profile_photo }}" alt="" width="668" height="690">
								{% else %}
								<img src="static/profile/img/personal.jpg" alt="">
								{% endif %}
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, i am</h6>
									{% if lawyer.first_name and lawyer.last_name%}
									<h3>{{ lawyer.first_name}} {{lawyer.last_name}}</h3>
									{% else %}
									<h3>{{ lawyer.username }}</h3>
									{% endif %}
									<h4>{{lawyer.current_job if lawyer.current_job }}</h4>
									<!-- <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p> -->
									<br>
									<ul class="list basic_info">
										
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> {{ lawyer.phone_number}}</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i>{{lawyer.email_id }}</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i> {{lawyer.city if lawyer.city}}</a></li>
									</ul>
									<ul class="list personal_social">
										{% if lawyer.facebook%}
										<li><a href="{{lawyer.facebook }}"><i class="fa fa-facebook"></i></a></li>
										{% endif %}

										{% if lawyer.instagram%}
										<li><a href="{{lawyer.instagram }}"><i class="fa fa-instagram"></i></a></li>
										{% endif %}

										{% if lawyer.linkedin%}
										<li><a href="{{lawyer.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container-fluid">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
							{% if lawyer.bio %}
        					<h4>About Me</h4>
							<p>{{lawyer.bio }}</p>
							{% endif %}
        					
        				</div>
        			</div>
        			<!-- <div class="col-lg-6"> -->
						<div class = 'col-lg-6'>

							<div class="welcome_text">
								<h4>I handle cases related to </h4>
							</div>
							<br>

						<div class="col-sm">
							<div class="wel_item">
								<i class="lnr lnr-database"></i>
								<h4>{{lawyer.specialization1 if lawyer.specialization1 }}</h4>
								
							</div>
						</div>
						<br>
						<div class="col-sm">
							<div class="wel_item">
								<i class="lnr lnr-book"></i>
								
								<h4>{{lawyer.specialization2 if lawyer.specialization2 }}</h4>
							</div>
						</div>
						<br>
						<div class=" col-sm">
							<div class="wel_item">
								<i class="lnr lnr-users"></i>
								
								<h4>{{lawyer.specialization3 if lawyer.specialization3 }}</h4>
							</div>
						</div>

        				
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									{% if prof_qualif_1.prof_qualif %}
									<div class="media">
										<div class="d-flex">
											<p>{{prof_qualif_1.from_prof}} to {{ prof_qualif_1.to_prof}} </p>
										</div>
										<div class="media-body">
											<h4>{{prof_qualif_1.prof_institute}}</h4>
											<p>{{prof_qualif_1.prof_qualif}}</p>
										</div>
									</div>
									{% endif %}
								</li>
								<li>
									<span></span>
									{% if prof_qualif_2.prof_qualif %}
									<div class="media">
										<div class="d-flex">
											<p>{{prof_qualif_2.from_prof}} to {{ prof_qualif_2.to_prof}}</p>
										</div>
										<div class="media-body">
											<h4>{{prof_qualif_2.prof_institute}}</h4>
											<p>{{ prof_qualif_2.prof_qualif }}</p>
										</div>
									</div>
									{% endif %}
								</li>
								<li>
								<span></span>
								{% if prof_qualif_3.prof_qualif %}
								<div class="media">
									<div class="d-flex">
										<p>{{prof_qualif_3.from_prof}} to {{ prof_qualif_3.to_prof}}</p>
									</div>
									<div class="media-body">
										<h4>{{prof_qualif_3.prof_institute}}</h4>
										<p>{{ prof_qualif_3.prof_qualif }}</p>
									</div>
								</div>
								{% endif %}
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								<li>
									<span></span>
									{% if edu_qualif_1.educational_qualif %}
									<div class="media">
										<div class="d-flex">
											<p>{{ edu_qualif_1.from_ }} to {{ edu_qualif_1.to_ }}  </p>
										</div>
										<div class="media-body">
											<h4>{{edu_qualif_1.educational_institute}}</h4>
											<p>{{edu_qualif_1.educational_qualif}}</p>
										</div>
									</div>
									{% endif %}
								</li>
								<li>
									<span></span>
									{% if edu_qualif_2.educational_qualif %}
									<div class="media">
										<div class="d-flex">
											<p>{{ edu_qualif_2.from_ }} to {{ edu_qualif_2.to_ }}  </p>
										</div>
										<div class="media-body">
											<h4>{{edu_qualif_2.educational_institute}}</h4>
											<p>{{edu_qualif_2.educational_qualif}}</p>
										</div>
									</div>
									{% endif %}
								</li>
								<li>
								<span></span>
								{% if edu_qualif_3.educational_qualif %}
								<div class="media">
									<div class="d-flex">
										<p>{{ edu_qualif_3.from_ }} to {{ edu_qualif_3.to_ }}  </p>
									</div>
									<div class="media-body">
										<h4>{{edu_qualif_3.educational_institute}}</h4>
										<p>{{edu_qualif_3.educational_qualif}}</p>
									</div>
								</div>
								{% endif %}
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
		</section>
		{% endblock %}
        <!--================End My Tabs Area =================-->
        
        
        	
        <!--================End Footer Area =================-->
        
        
        
        
        
        
       