{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>
                <fieldset class="form-group">
                <div class="form-group">
                    {{ form.FirstName.label(class="form-control-label") }}
                    {% if form.FirstName.errors %}
                        {{ form.FirstName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.FirstName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.FirstName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.LastName.label(class="form-control-label") }}
                    {% if form.LastName.errors %}
                        {{ form.LastName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.LastName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.LastName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Bio.label(class="form-control-label") }}
                    {% if form.Bio.errors %}
                        {{ form.Bio(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Bio(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                
                <div class="form-group">
                    {{ form.Number.label(class="form-control-label") }}
                    {% if form.Number.errors %}
                        {{ form.Number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.location.label(class="form-control-label") }}
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Profilephoto.label(class="form-control-label") }}
                    {% if form.Profilephoto.errors %}
                        {{ form.Profilephoto(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Profilephoto.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Profilephoto(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </fieldset><br>
                <fieldset class="form-group">
                <div class="form-group">
                    {{ form.CurrentJob.label(class="form-control-label") }}
                    {% if form.CurrentJob.errors %}
                        {{ form.CurrentJob(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.CurrentJob.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.CurrentJob(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.Notworking(class="form-check-input") }}
                    {{ form.Notworking.label(class="form-check-label") }}
                </div>
                </fieldset><br>
                <fieldset class="form-group">
                <div class="form-group">
                    {{ form.Linkedin.label(class="form-control-label") }}
                    {% if form.Linkedin.errors %}
                        {{ form.Linkedin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Linkedin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Linkedin(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Facebook.label(class="form-control-label") }}
                    {% if form.Facebook.errors %}
                        {{ form.Facebook(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Facebook.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Facebook(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Instagram.label(class="form-control-label") }}
                    {% if form.Instagram.errors %}
                        {{ form.Instagram(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Instagram.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Instagram(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </fieldset><br>
                <fieldset class="form-group">
                <div class="form-group">
                    {{ form.MinFee.label(class="form-control-label") }}
                    {% if form.MinFee.errors %}
                        {{ form.MinFee(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.MinFee.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.MinFee(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.MaxFee.label(class="form-control-label") }}
                    {% if form.MaxFee.errors %}
                        {{ form.MaxFee(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.MaxFee.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.MaxFee(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </fieldset><br>
                <fieldset class="form-group">
                <div class="form-group">
                    {{ form.FirstSpec.label(class="form-control-label") }}
                    {% if form.FirstSpec.errors %}
                        {{ form.FirstSpec(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.FirstSpec.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.FirstSpec(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.SecSpec.label(class="form-control-label") }}
                    {% if form.SecSpec.errors %}
                        {{ form.SecSpec(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.SecSpec.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.SecSpec(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ThirdSpec.label(class="form-control-label") }}
                    {% if form.ThirdSpec.errors %}
                        {{ form.ThirdSpec(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ThirdSpec.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ThirdSpec(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </fieldset><br>
                <div class="form-group">
                    {{ form.Educational_qualif_1.label(class="form-control-label") }}
                    {% if form.Educational_qualif_1.errors %}
                        {{ form.Educational_qualif_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Educational_qualif_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Educational_qualif_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.From_1.label(class="form-control-label") }}
                    {% if form.From_1.errors %}
                        {{ form.From_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.From_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.From_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.To_1.label(class="form-control-label") }}
                    {% if form.To_1.errors %}
                        {{ form.To_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.To_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.To_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Educational_qualif_2.label(class="form-control-label") }}
                    {% if form.Educational_qualif_2.errors %}
                        {{ form.Educational_qualif_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Educational_qualif_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Educational_qualif_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.From_2.label(class="form-control-label") }}
                    {% if form.From_2.errors %}
                        {{ form.From_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.From_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.From_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.To_2.label(class="form-control-label") }}
                    {% if form.To_2.errors %}
                        {{ form.To_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.To_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.To_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Educational_qualif_3.label(class="form-control-label") }}
                    {% if form.Educational_qualif_3.errors %}
                        {{ form.Educational_qualif_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Educational_qualif_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Educational_qualif_3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.From_3.label(class="form-control-label") }}
                    {% if form.From_3.errors %}
                        {{ form.From_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.From_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.From_3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.To_3.label(class="form-control-label") }}
                    {% if form.To_3.errors %}
                        {{ form.To_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.To_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.To_3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Prof_qualif_1.label(class="form-control-label") }}
                    {% if form.Prof_qualif_1.errors %}
                        {{ form.Prof_qualif_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Prof_qualif_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Prof_qualif_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.From_prof_1.label(class="form-control-label") }}
                    {% if form.From_prof_1.errors %}
                        {{ form.From_prof_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.From_prof_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.From_prof_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.To_prof_1.label(class="form-control-label") }}
                    {% if form.To_prof_1.errors %}
                        {{ form.To_prof_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.To_prof_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.To_prof_1(class="form-control form-control-lg") }}
                    {% endif %}</div>
                <div class="form-group">
                    {{ form.Prof_qualif_2.label(class="form-control-label") }}
                    {% if form.Prof_qualif_2.errors %}
                        {{ form.Prof_qualif_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Prof_qualif_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Prof_qualif_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.From_prof_2.label(class="form-control-label") }}
                    {% if form.From_prof_2.errors %}
                        {{ form.From_prof_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.From_prof_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.From_prof_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.To_prof_2.label(class="form-control-label") }}
                    {% if form.To_prof_2.errors %}
                        {{ form.To_prof_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.To_prof_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.To_prof_2(class="form-control form-control-lg") }}
                    {% endif %}</div>
                <div class="form-group">
                    {{ form.Prof_qualif_3.label(class="form-control-label") }}
                    {% if form.Prof_qualif_3.errors %}
                        {{ form.Prof_qualif_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Prof_qualif_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Prof_qualif_3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.From_prof_3.label(class="form-control-label") }}
                    {% if form.From_prof_3.errors %}
                        {{ form.From_prof_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.From_prof_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.From_prof_3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.To_prof_3.label(class="form-control-label") }}
                    {% if form.To_prof_3.errors %}
                        {{ form.To_prof_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.To_prof_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.To_prof_3(class="form-control form-control-lg") }}
                    {% endif %}</div>
                
 
            </fieldset>
            <div class="form-group">
                {{ form.Submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
   
{% endblock content %}