{% extends "user_layout.html" %}

{% block content %}
{% if free_lawyers %}
	{% for lawyer in free_lawyers %} 
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      	<h2><a class="mr-2" href="{{ url_for('show_profile',lawyer_id=lawyer.id) }}">{{ lawyer.username }}</a></h2>
	      <small class="text-muted">{{lawyer.current_job if lawyer.current_job}}</small>
		</div>
		<p class="article-content">{{ lawyer.bio }}</p>
		
		
		
	  </div>
	</article>
	{% endfor %} 
	{% else %}
	<h2>No lawyers present</h2>
	{% endif %}
{% endblock content %}         

