@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image : url('back.jpg');
  

}



.container
{   
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .card

{   border-radius: 15px;
    position: relative;
    min-width: 350px ;
    max-width: 550px ;
    background: #fff;
    margin: 40px;
    padding: 15px;
    display: flex;
}

.container .card .imgBx
{
    max-width: 150px;
    flex: 0 0 150px;
}

.container .card .imgBx img
{
    max-width: 100%;
    
}
.container .card .content
{
    margin-left: 20px;
    
}

@media(max-width: 991px)
{
    .container
    {
        flex-direction: column;
    }
}

@media(max-width: 768px)
{
    .container
    {
        flex-direction: column;
    }
    .container .card
    {
        flex-direction: column;
        max-width: 350px;
    }
    .container .card .imgBx
    {
        max-width: 100%;
    }
    .container .card .content
    {
        margin-left: 0px;
        
    }
}
